target/
!.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

### IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

### OS ###
.DS_Store

### Local overrides ###
application-local.yml
*.log
